@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Animal_crossing.jpg" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Nouvelle mise à jour du mois d'octobre</h2>
        <p>
            <img src="~/Animal-Crossing-New-Horizons-Halloween (2) (1).jpg" />
            Durant tout le mois d'octobre, les esprits d'Halloween viennent s'installer sur votre île!
            Vous aurez la visite, le 31 octobre, de Jacqu'O. Celui-ci, en échange de bonbons trouvable dans la boutique de Méli Mélo, vous donnera des crafts .
            Echangez des bonbons avec vos villageois, le jour d'Halloween pour débloquer des mimiques terrifiantes...
            <br>
<p><a class="btn btn-default" href="https://www.youtube.com/watch?v=uS8-fp9PDVI">Découvrir la mise à jour &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fabriquez des objets avec des citrouilles</h2>
        <p>
            Nouveauté sur Animal Crossing New Horizon!
            Désormais, vous pouvez jardiner en plantent des citrouilles dans le but de fabriquer des objets, pour décorer votre île
            et pour qu'elle puisse être dans l'esprit d'Halloween.
            Vous pourrez trouver les pousses de citrouille dans la boutique Méli Mélo ou encore au stand de Racine, quand il vient vous rendre visite.
            Il y a 4 sortes de citrouilles : oranges, jaunes, blancs et verts
        </p>
        <img src="~/Animal-Crossing-New-Horizons-Halloween (1).jpg" />
        <br /><br />
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=uS8-fp9PDVI">Découvrir ici les différents bricolages &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Déguisement à gogo</h2>
        <p>Tout les jours jusqu'à la fin du mois, à la boutique des Soeurs Doigts de Fée, vous aurez la possibilité d'acheter différents vêtements pour 
        avoir le plus beau costume d'Halloween!</p>
        <img src="~/costumes.jpg" />
        <br /><br />
        <p><a class="btn btn-default" href="https://www.breakflip.com/fr/animal-crossing-new-horizons/guide/deguisements-d-halloween-dans-animal-crossing-new-horizons-liste-complete-22887">Les costumes ici &raquo;</a></p>
        Les différents costumes sont : tenues diables, tenues mages, tenues chats, tenus chauve-souris,
        tenue sorcier et tenue zombie. 
        Rappelez-vous également que les tenues et accessoires d'Halloween sont disponibles uniquement pendant la saison d'automne
        du 1er octobre au 31 octobre 2020.

        Si vous attendez trop longtemps, il sera donc trop tard pour les récupérer! 

    </div>
</div>